#Gui version, Cortex_Log_File_Big_Size, when file size bigger than it, all tasks are writen in it's file in /tmp directory
#default Cortex_Log_File_Big_Size value is 4M.
Cortex_Log_File_Big_Size=6M
#GUI version, Max line to show in  Log Console in order to avoid memory heap out.
#Defalt max_line_show_for_one_task value is 5000, this parameter is valable only if it's file size bigger than Cortex_Log_File_Big_Size
max_line_show_for_one_task=25000