
.item {
	-fx-font-size: 18.0px;
	-fx-font-style: italic;
	-fx-font-weight: bold;
	-fx-text-fill: slategrey;
	-fx-effect: dropshadow(gaussian, rgba(255.0, 255.0, 255.0, 0.5), 0.0, 0.0, 0.0, 1.0);
}

.fieldBorder {
	-fx-text-box-border: red  ;
    -fx-focus-color: red ;
}

.summaryLabel {
	-fx-font-size: 12.0px;
	-fx-font-style: normal   ;
	-fx-font-fill: darkgray ;
	-fx-font-weigh: lighter ;
}
